.admin-button {
  --bg-color-1: #1e40af;
  --bg-color-2: #3b82f6;
  --bg-color-3: #60a5fa;
  --padding: 1rem 2rem;
  --font-family: monospace;
  --step: 0.5rem;
  --active: 0;
  
  color: white;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: bold;
  border: 0;
  background: transparent;
  padding: 0;
}

.admin-button:is(:hover, :focus-visible) {
  --active: 1;
}

.admin-button span:first-of-type {
  padding: var(--padding);
}

.admin-button span:not(:first-of-type) {
  position: absolute;
}

.admin-button [aria-hidden] {
  color: transparent;
}

.admin-button span {
  inset: 0;
  display: grid;
  background: var(--bg);
  place-items: center;
  transition: 0.2s ease;
  border: 2px solid black;
  translate:
    calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1))
    calc((var(--active) * var(--coefficient, 0)) * (var(--step) * -1));
}

.admin-button span:nth-of-type(1) {
  --bg: var(--bg-color-3);
}

.admin-button span:nth-of-type(2) {
  --coefficient: 1;
  --bg: var(--bg-color-2);
}

.admin-button span:nth-of-type(3) {
  --coefficient: 2;
  --bg: var(--bg-color-1);
}

.admin-button:active {
  --active: 0.5;
}

